# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Obj/
obj/
Debug/
Build/
BuildAndroid/
BuildWindows/
BuildWindowsVR/
BuildMac/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.vs/
*.sdf
.vscode
.vsconfig

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Folder config file
Desktop.ini
 
# Recycle Bin used on file shares
$RECYCLE.BIN/

# ASSET STORE
Assets/XR
Assets/VolumetricLines
Assets/Standard Assets
Assets/SampleScenes
Assets/Oculus
Assets/Mirror
Assets/3Skyboxes
Assets/3Skyboxes2
Assets/Lens Flares
Assets/Octahedron Sphere
Assets/Models/Working~
Assets/Editor
Assets/Standard Assets
Assets/SimpleParticlePack
Assets/OVR
Assets/Draw Call Minimizer
Assets/VolumetricLines
Assets/Moon Landscape
Assets/ML-Agents
Assets/SteamVR
Assets/SteamVR_Input